@charset "UTF-8";
@font-face {
    font-family: fontedesafio;
    src: url("fontes/idroid.otf");
}

/* a gente consegue criar variáveis assim
:root {
    --fontepadrao: arial...;
    --corpadrao: blue;
}
*/

/* comando para retirar todos os espaços da pagina*/
* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: rgba(13, 206, 180, 0.863);
}

a.externo::after {
    content: '\00A0\1F517';
}

p {
    font-family: 'Times New Roman', Times, serif;
    text-align: justify;
    text-indent: 20px;
    padding: 10px;
    line-height: 1em; /*espaço entre as linhas*/
    font-size: 1em;
}

h1 {
    font-family: fontedesafio;
    text-indent: 5px;
    padding: 10px;
}

h2 {
    font-family: fontedesafio;
    padding: 10px;
    background-image: linear-gradient(to right, green, transparent);
}

header#cabecalho {
    background-color: rgb(59, 131, 17);
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.342);
}

h1.principal {
    text-align: center;
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    font-size: 2em;
    padding-top: 20px;
}

header > p {
    text-align: center;
    color: #ffffff;
    font-size: 1.1em;
    max-width: 500px;
    margin: auto;
}

nav {
    margin-bottom: 10px;
    background-color: green;
}

nav > a {
    color: #ffffff;
    text-decoration: none;
} 

nav > a:hover {
    text-decoration: underline;
    background-color: green;
}

main {
    background-color: #ffffff;
    padding: 20px;
    min-width: 320px;
    max-width: 800px;
    margin: auto;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.301);
    margin-bottom: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

picture > img.rodozin {
    width: 100%;
}

picture > img.mulher {
    width: 100%;
}

picture > img.android {
    padding: 10px;
    width: 200px;
    margin: 0px 200px;
}

picture > img.pequena {
    max-width: 350px;
    display: block;
    margin: auto;
}

footer {
    background-color: #ffffff;
    width: 600px;
    margin: 0px 370px;
    border-radius: 0px 0px 5px 5px;
}

aside {
    background-color: #149725a2;
    padding: 10px;
    border-radius: 10px;
}

aside h3 {
    background-color: green;
    margin: -10px -10px 0px -10px;
    padding: 2px;
    border-radius: 10px 10px 0px 0px;
}

aside ul {
    list-style-position: inside;
    columns: 2;
}

div.video {
    background-color: green;
    margin: 0px -20px 30px -20px;
    padding: 20px;
    padding-bottom: 59%;
    position: relative;
}

div.video > iframe {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}